.body {
    display: grid;
}

.inputField {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    max-height: 1000px;
}

.textarea {
    width: 92%;
    height: 100%;
    background-color: #00000000;
    border: none;
    resize: none;
    padding: 20px 0px 20px 20px;
    color: #eee;
    font-size: 30px;
}

.erase {
    display: block;
    margin: 15px 15px 0px auto;
    cursor: pointer;
    float: right;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
}

.notErase {
    display: none;
}

.img {
    width: 15px;
}

@media (max-width: 720px) {
    .body {
        grid-template-columns: none;
        grid-template-rows: 80% 50%;
    }
}