* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    box-sizing: content-box;
}

body {
    background-color: #111;
}

header {
    height: 50px;
    width: 100%;
    background-color: #222;
    justify-content: space-around;
}

#hamburguer {
    width: 30px;
    height: 3px;
    position: relative;
    display: none;
    top: 50%;
    margin-left: 2%;
    transform: translateY(-50%);
    background-color: #eee;
}

#hamburguer::before, #hamburguer::after {
    content:"";
    display: block;
    position: relative;
    width: 30px;
    height: 3px;
    background-color: #eee;
}

#hamburguer::before {
    top: -7px;
}

#hamburguer::after {
    top: 4px;
}

header div {
    position: relative;
    margin: 0px 2%;
    top: 50%;
    transform: translateY(-50%);
}

header a {
    text-decoration: none;
}

main {
    min-height: 300px;
    height: 40%;
    min-width: 720px;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 25px;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-rows: 50px 1fr;
    border-radius: 10px;
    background-color: #222;
}

#choose-put {
    display: none;
}