#body-main {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1px 1fr;
    width: 100%;
    align-items: center;
}

.xput-box {
    width: 100%;
    height: 100%;
}

#input-box {
    display: grid;
    grid-template-columns: 90% 10%;
}


/* input-field */


#input-box textarea {
    height: 87%;
    width: 95%;
    resize: none;
    overflow: auto;
    word-break: break-all;
    border: none;
    padding-top: 25px;
    padding-left: 25px;
    background-color: #00000000;
    font-size: 25px;
}

#erase-button {
    display: none;
    position: relative;
    margin: 0px auto;
    top: 15px;
    width: 15px;
    height: 15px;
    cursor: pointer;
}

#erase-button img {
    width: 15px;
}


/* split-body */


#split-body-line {
    width: 1px;
    height: 100%;
    background-color: #444;
}


/* output-field */

#output-box div {
    resize: none;
    height: 90%;
    width: 90%;
    padding-top: 25px;
    padding-left: 25px;
    font-size: 25px;
}

#placeholder-output-textarea {
    color: #888;
}


@media (max-width: 1200px) {
    #input-box {
        grid-template-columns: 85% 15%;
    }
}