.Main {
    min-height: 300px;
    height: 40%;
    min-width: 720px;
    width: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 25px;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-rows: 50px 1fr;
    border-radius: 10px;
    background-color: #222;
}