.shadow {
    width: 100%;
    height: calc(100% - 50px);
    position: absolute;
    transition: 0.3s;
    z-index: 4;
}

.SideBar {
    height: 100%;
    width: 220px;
    background-color: #1c1c1c;
    position: relative;
    left: 0;
    transition: 0.3s;
    z-index: 4;
    overflow: scroll;
}

.header {
    font-size: 19px;
    color: #888;
    cursor: default;
    margin: 10px;
}

.button {
    padding: 10px 15px;
    display: block;
    cursor: pointer;
    color: #eee;
    text-decoration: none;
    font-size: 16px;
}

.button:hover {
    background-color: #333;
}