* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  background-color: #111;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* what I actually did*/

header {
  height: 50px;
  width: 100%;
  background-color: #222;
  display: flex;
  align-items: center;
}

.title {
  color: #fff;
  font-size: 20px;
  padding-left: 2%;
}

.help-a {
  display: none;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%,-50%);
}